<%- include('./partials/header') -%>
<!-- Links -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron container">
    <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Kaizer Mthimkhulu</b></h1>
    <p>Softare Developer.</p>
    <button class="w3-button w3-light-grey w3-padding-large w3-margin-top">
      <a href="/documents/KaizerMthimkhulu_CV.pdf" download><i class="fa fa-download"></i></i> Download Resume</a>
    </button>
  </header>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">My Portfolio</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <a href="https://webtank.co.za/">        
            <img src="/images/logo-light.jpeg" style="width:100%">
        </a>
      </div>
      <div class="w3-half">
        <a href="https://webtank.co.za/">
            <img src="/images/logo-dark.jpeg" style="width:100%">
        </a>
      </div>
      <div class="w3-half">
        <img src="/images/project.jpg" style="width:100%">
      </div>
      <div class="w3-half">
        <a href="http://www.asaarchitects.co.za/">
            <img src="/images/ASAlogo-dark.jpg" style="width:100%">
        </a>
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>
</div>
<%- include('./partials/footer') -%>